<div class="bg-sky-50 w-full min-h-screen">
    <!-- logo -->
   <div class="  h-[7.1rem] flex items-center bg-sky-300 pl-12 w-full shadow-xl">
       <div class="flex  justify-start items-center gap-4 ">
           <div class="flex w-[5rem]">
               <img class="rounded-full cursor-pointer" src="../../../assets/JS_Logo.png" alt="">
           </div>
           <div>
               <p class="text-3xl">JS</p>
               <p class="text-3xl">BSIT 3-2</p>
           </div>
       </div>
   </div>

   <div class="flex mt-[5em] justify-center items-center">
    <div class="flex flex-col justify-center items-center bg-white mt-4 w-[30rem] mx-auto rounded-md py-8 pb-16 px-8 border h-auto border-black shadow-2xl">
        <h1 class="font-bold text-3xl mt-2">Sign Up</h1>
        <div class="flex flex-col w-full px-8">
            <form class="mt-8" action="">
                <div class="flex flex-col">
                    <label for="username">Username</label>
                    <input class="border-b border-b-black py-2 px-2 mt-2 text-sm outline-none " id="username" name="username" type="text" placeholder="Type your username" required>
                </div>
                <div class="flex flex-col mt-8">
                    <label for="password">Password</label>
                    <input class="border-b border-b-black py-2 px-2 mt-2 text-sm outline-none" id="password" name="password" type="password" placeholder="Type your password" required>
                </div>
                <div class="flex flex-col mt-8">
                    <label for="confirm-password">Confirm Password</label>
                    <input class="border-b border-b-black py-2 px-2 mt-2 text-sm outline-none" id="confirm-password" name="confirm-password" type="password" placeholder="Confirm your password " required>
                </div>
                <button type="submit" class="uppercase bg-sky-400 px-4 py-2.5 w-full mt-8 rounded-md text-sm hover:bg-sky-300 hover:text-black transition-all text-white">Sign Up</button>
                <p class="mt-8 text-center">Already have an account? <a routerLink="/login" class="underline">Log in Here</a></p>
            </form>
        </div>
    </div>
   </div>
</div>